<section class="mt-5" *ngIf="arrivalSection">
  <div class="container">
    <div class="row">
      <h1 class="text-center">
        Are you ready for a ride full of love and adventure?
      </h1>
    </div>

    <div class="row mt-5 text-center">
      <div class="col-md-6 col-sm-6">
        <button class="btn btn-primary" (click)="selectYes()">YES!!</button>
      </div>
      <div class="col-md-6 col-sm-6">
        <button class="btn btn-primary" (click)="selectNo()">NO</button>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div
    class="modal fade"
    id="warningModal"
    tabindex="1"
    role="dialog"
    aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Warning</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
            (click)="modalHide('warningModal')"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">You can't select NO, choose YES</div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section mt-5" *ngIf="travelSection">
  <div class="container">
    <div class="row justify-content-center align-items-center min-vh-100">
      <div class="col-md-6 d-flex justify-content-center">
        <div class="card" style="width: 18rem">
          <img
            src="assets/images/msrtcbus(4).jpg"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Your Travelling vehicle</h5>
            <p class="card-text">
              You will travel by Roha-Shivajinagar MSRTC Bus from Nagothane
            </p>
            <button
              type="button"
              class="btn btn-outline-primary"
              (click)="selectBus()"
            >
              Okay
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section mt-5" *ngIf="tuesdaySection">
  <div class="container">
    <h1 class="text-center">Now choose plan for Tuesday Night</h1>
    <div class="row justify-content-center align-items-center min-vh-100">
      <div class="col-md-6 d-flex justify-content-center mb-4 mb-md-0">
        <div class="card" style="width: 18rem">
          <img
            src="assets/images/movienight.jpeg"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Movie Night</h5>
            <p class="card-text">
              We will watch any random movie in theater. I will be paying.
            </p>
            <button
              type="button"
              class="btn btn-outline-primary"
              (click)="selectTuesdayPlan('Movie Night')"
            >
              Select
            </button>
          </div>
        </div>
      </div>
      <div class="col-md-6 d-flex justify-content-center">
        <div class="card" style="width: 18rem">
          <img
            src="assets/images/couplecooking.jpg"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Making Dinner Together</h5>
            <p class="card-text">
              I will bring chicken and we will fry it like last time
            </p>
            <button
              type="button"
              class="btn btn-outline-primary"
              (click)="selectTuesdayPlan('Making Dinner Together')"
            >
              Select
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section mt-5" *ngIf="wednesdaySection">
  <div class="container">
    <h1 class="text-center">Now choose plan for Wednesday Night</h1>
    <div class="row justify-content-center align-items-center min-vh-100">
      <div class="col-md-6 d-flex justify-content-center mb-4 mb-md-0">
        <div class="card" style="width: 18rem">
          <img
            src="assets/images/movienight.jpeg"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Birthday Party</h5>
            <p class="card-text">At 11PM at whichever the place you choose.</p>
            <button
              type="button"
              class="btn btn-outline-primary"
              (click)="selectWednesdayPlan()"
            >
              Select
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section mt-5" *ngIf="thursdayMorningSection">
  <div class="container">
    <h1 class="text-center">Thursday Morning Plan</h1>
    <div class="row justify-content-center align-items-center min-vh-100">
      <div
        class="col-md-6 d-flex justify-content-center mb-4 mb-md-0"
        *ngIf="temple"
      >
        <div class="card" style="width: 18rem">
          <img
            src="assets/images/movienight.jpeg"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Shri DagaduSheth Ganapati</h5>
            <p class="card-text">We will try to reach there by 9AM</p>
            <button
              type="button"
              class="btn btn-outline-primary"
              (click)="selectThursdayMorningPlan()"
            >
              Select
            </button>
          </div>
        </div>
      </div>
      <div
        class="col-md-6 d-flex justify-content-center mb-4 mb-md-0"
        *ngIf="starbucks"
      >
        <div class="card" style="width: 18rem">
          <img
            src="assets/images/movienight.jpeg"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Starbucks</h5>
            <p class="card-text">We will try to reach there by 9AM</p>
            <button
              type="button"
              class="btn btn-outline-primary"
              (click)="selectThursdayMorningPlan()"
            >
              Select
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
